$primeira-normal: #06121E;
$primeira-dark: #040f1a;
$primeira-light: #0c2135;

$secundaria-normal: #232224;
$secundaria-dark: #161617;
$secundaria-light: #353436;

$branco-normal: #ffff;
$branco-dark: #edeaef;
$branco-light: #fefbff;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040;
