@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600&family=Sriracha&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import './scss/colors';
@import './scss/header';
@import './scss/layout';

/* RESETANDO PADRÕES DO CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sora', sans-serif;
  background-color: $primeira-normal;
  max-width: 100vw; /* importante */
  height: 100vh;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  font-family: 'Sora', sans-serif;
  cursor: pointer;
}
